@import 'vars';


.desktop-wrapper{
  background-color: $color-dark;
  width: 100%;
}

.desktop-nav {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-evenly;
  margin: auto;
  max-width: 2000px;

  .sms {
    border: 2px solid $color-blue;
    border-radius: 100%;
    color: $color-white;
    font-size: 20px;
    font-weight: 200;
    padding: 10px;
  }

  .menu-item {
    font-size: 16px;
    margin: 0 20px;
  }

  .nav-icons{
    .icon {
      margin: 0 10px;
    }

    .icon:hover {
      transform: scale(1.3);
    }
  }
}
