@import 'vars';

.navbar {
  background-color: $color-dark;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 22px;
  height: 18px;
  right: 35px;
  top: 31.5px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $color-blue;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  position: absolute !important;
  right: 33px !important;
  top: 23px !important
}

/* Color/shape of close button cross */
.bm-cross {
  background: $color-blue;
  height: 25px !important;
}

/* General sidebar styles */
.bm-menu {
  background: $color-dark;
  padding: 2.5em 0 0;
  font-size: 1.15em;
  margin: auto;
  width: 89%
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  // fill: #373a47;
}

.bm-menu-wrap {
  height: auto !important;
}

/* Wrapper for item list */
.bm-item-list {
  // color: #b8b7ad;
  margin-top: 34px;
}

/* Individual item */
.bm-item {
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 25px;
  padding-left: 55px;
  text-decoration:  none;
  width: 100%;
}

.bm-item:first-of-type {
  border-top: 3px solid $color-blue;
}

/* Styling of overlay */
.bm-overlay {
  background: none !important;
  height: 0 !important;
  width: 0 !important;
}

span.bm-cross {
  height: 40px;
  width: 3px;
}

.bm-item.menu-item:hover{
  color: $color-blue;
}