@import 'vars';

.tiles {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 25px auto;
  width: 100%;
  
  div {
    align-items: center;
    background-color: $color-light-gray;
    border: 1px solid $color-medium-gray;
    display: flex;
    height: 150px;
    margin: .5em auto;
    width: 100%;
  }
  
  div:hover{
    background-color: darken($color-light-gray, 10%);
  }
  
  a {
    color: $color-blue;
    font-size: 3em;
    margin: auto;
    text-decoration: none;
  }
}