@import 'vars';

.tiles {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2em auto;
  width: 90%;
  
  div {
    align-items: center;
    background-color: $color-light-gray;
    border: 1px solid $color-medium-gray;
    display: flex;
    text-align: center;
    height: 100px;
    margin: .5em auto;
  }
  
  div:hover{
    background-color: darken($color-light-gray, 10%);
  }
  
  a {
    color: $color-blue;
    font-size: 3em;
  }
  
  a:hover {
    text-decoration: underline;
  }
}