@import 'vars';

#tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2em auto;
  width: 80%;
  
  div {
    align-items: center;
    background-color: $color-light-gray;
    border: 1px solid $color-medium-gray;
    display: flex;
    text-align: center;
    height: 7em;
    margin: .5em auto;
    width: 45%;
  }
  
  h2 {
    color: $color-blue;
    font-size: 2em;
  }
}