@import 'vars';

.photo-carousel {
  height: auto;
  margin-bottom: 20px;
  width: 100%;
  
  img {
    width: 100%;
  }
}

.car-item {
  align-items: center;
  background-color: $color-dark;
  display: flex;
  flex-direction: column;
  margin: 25px 0;
  padding-bottom: 25px;
  
  &:last-of-type {
    margin-bottom: 0;
  }
  
  h3 {
    color: $color-blue;
    font-weight: 400;
    margin: 25px 0;
  }
  
  p {
    color: $color-white;
    margin: 0;
    text-align: left;
    width: 100%;
    
    &:first-of-type{
      text-align: center;
    }
  }
  
}

.focus {
  margin: -50px 0;
}

.back-button {
  display: flex;
  left: 8px;
  position: fixed;
  
  .icon{
    height: 22px;
    width: 22px;
  }
}

.car-description {
  width: 80%;
  
  span {
    color: $color-blue;
    font-weight: 400;
  }
}