@import 'vars';

.inventory-container{
  margin-top: 80px;
  padding: 50px 0 0;
  
  h3 {
    font-size: 30px;
  }
  
  p {
    margin: 25px auto 50px;
  }
}

.inline-link{
  color: $color-blue;
  font-weight: 400;
  font-size: 18px;
  text-decoration: underline;
}

.car-list {
  margin: auto;
}


@media(min-width: 768px){
  .inventory-container {
    margin-top: 60px;
    
    p {
      max-width: 980px;
    }
  }
  
  
}