@import 'vars';

.construction {
  
  .construction-text {
    color: $color-gray;
    margin-top: 20%;
    font-size: 60px;
  }
  
  .footer {
    background-color: $color-dark;
    position: fixed;
    bottom: 0;
    
  }
}