@import 'vars';

.construction {
  
  .construction-text {
    color: $color-gray;
    padding-top: 35%;
    font-size: 40px;
  }
  
  .footer {
    background-color: $color-dark;
    position: fixed;
    bottom: 0;
    
  }
}