@import 'vars';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.banner {
  margin: 5px auto 0;
  text-align: center;
  width: 100%;
  
  img {
    box-shadow:  0 1px  4px        rgba(0, 0, 0, 0.3);
    width: 100%;
  }

}
