// this is where all the basic stuff goes - what h1 / button / p / a / hover /click
@import 'vars';

body {
  font-family: $font-main;
}

h1 {
  color: $color-white;
  font-size: 44px;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-align: center;
}

h2 {
  letter-spacing: 1px;
  text-align: center;
}

h3 {
  color: $color-gray;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
}

h4 {
  color: $color-white;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 1px;
  text-align: center;
}

p {
  color: $color-gray;
  font-weight: 200;
  line-height: 22px;
}

a {
  text-decoration: none;
}

@media(min-width: 768px) {
  h1 {
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: 10px;
  }
}