@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');

$color-white: #ffffff;
$color-gray: #3f3f3f;
$color-dark: #20202a;
$color-blue: #258e9f;
$color-orange: #e3493f;


$font-main: 'Roboto', sans-serif;