@import 'vars';

.welcome {
  padding: 50px 0;
}

.welcome-message{
   margin: 30px auto 0;
}

@media(min-width: 768px){
  .welcome {
    padding: 80px 0;
  }
  .welcome-message{
    margin-top: 40px;
    max-width: 980px;
  }
}

