@import 'vars';

.welcome {
  margin: 50px auto;
}

.welcome-message{
  text-align: justify;
  line-height: 28px;
  margin: 30px auto 0;
  width: 80%;
}

@media(min-width: 768px){
  .welcome {
    margin: 80px auto;
  }
  .welcome-message{
    margin-top: 40px;
    max-width: 980px;
    line-height: 40px;
  }
}

