@import 'vars';

.footer {
  background-color: $color-dark;
  text-align: center;
  width: 100%;
}
  
.links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 12px;
  margin-bottom: 20px;
  
  a {
    color: $color-white;
    font-size: 13px;
  }
  
  a:hover {
    color: $color-blue;
    text-decoration: underline;
  }
}

span {
  color: $color-white;
}
  
.info {
  margin-top: 15px;
  
  a:hover {
    text-decoration: underline;
  }
  
  h5 {
    color: $color-white;
    font-size: 12px;
    margin: 4px;
  }
}

// @media (min-width: 768px) {
//   .footer {
//     background-color: #fff;
//     display: flex;
//     flex-direction: column;
//     height: 200px;
    
//     hr {
//       display: none;
//     }

//     .links {
//       margin: 40px auto 0;
//       width: 50%;

//       a {
//         font-size: 18px;
//       }
//     }

//     .info {
//       margin: 40px auto;

//       h5{
//         font-size: 18px;
//         letter-spacing: .5px;
//         margin: 8px;
//       }
//     }
//   }
// }
