@import 'vars';

.footer {
  margin: 20px auto;
  text-align: center;
  width: 100%;
  
  hr {
    border-top: 1px $color-dark-gray;
    margin: auto;
    width: 90%;
  }
  
  .links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 12px;
    
    a {
      color: $color-dark-gray;
      font-size: 13px;
      text-decoration: none;
    }
    
    a:hover {
      color: black;
    }
  }
  
  .info {
    
    margin-top: 15px;
    
    h5 {
      color: $color-dark-gray;
      font-size: 14px;
      margin: 4px;
    }
  }


}

