@import 'vars';

.contact-page {
  h1 {
    font-size: 28px;
    letter-spacing: 1.5px;
    margin: 15px auto 2px;
  }

  hr {
    width: 60%;
    margin-bottom: 8px;
  }

  ul {
    text-align: center;
    margin-bottom: 15px;

    li {
      color: $color-dark-gray;
      font-size: 18px;
      font-weight: 100;
      letter-spacing: .5px;
      padding: 5px;
    }
  }

  h4 {
    color: $color-dark-gray;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: .5px;
    margin: 0 0 7px 10px;
  }
  
  h5 {
    color: $color-medium-gray;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: .5px;
    margin: 5px 0 0 10px;
  }

  .emphasis {
    color: $color-green;
    font-weight:400;
  }

}

.contact-info{
  margin: 30px auto;
  
  .contact-header{
    display: flex;

    hr {
      border: .5px solid $color-medium-gray;
      margin-left: 10px;
      width: 35%
    }
  }

  a {
    text-decoration: none;
  }
}

.map-container {
  display: flex;
  height: 200px;
  justify-content: center;
  margin: auto;
  width: 100%;
}

@media (min-width: 768px) {
  .map-container {
    background-color: #fff;
    border: 1px solid $color-medium-gray;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    height: 500px;
    margin: 60px auto;
    max-width: 1440px;
    padding: 20px;
    width: 100%;
  }
}