@import 'vars';

.contact-container {
  margin-top: 80px;
}

.contact-header{
  background-color: $color-dark;
  padding: 50px 0;

  h3 {
    color: white;
  }
  
  h4 {
    color: white;
    margin: 25px auto;

    &:last-of-type {
      color: $color-blue;
      font-weight: 400;
    }
  }
}