@import 'vars';

.map {
  margin-top: 50px;
  
  .location {
    display: flex;
    flex-direction: column;
  }
  
  a {
    display: flex;
    justify-content: center;
  }
  
  a:first-child {
    margin-bottom: 15px;
  }
  
  h3 {
    line-height: 25px;
  }
}

.map-container {
  height: 300px;
  margin: 50px auto;
  width: 100%;
}

.marker {
  height: 22px;
  width: 22px;
}