@import 'vars';

.map {
  margin-top: 50px;
}
  
.location-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  
  h3 {
    text-align: left;
  }
  
  a {
    display: flex;
    justify-content: center;
  }

  a:first-child {
    margin-bottom: 15px;
  }
}

.shop-hours{
  display: flex;
  
  h3:first-of-type {
    color: $color-blue;
  }
}



.map-container {
  height: 300px;
  margin: 50px auto 0;
  width: 100%;
}

.marker {
  height: 22px;
  width: 22px;
}

@media(min-width: 768px) {
  .map {
    display: flex;
    align-items: center;
    margin: 0;
    
    .icon {
      height: 30px;
      margin: 5px 5px 0 0;
      width: 30px;
    }
  }

    
  .location-info{
    width: 50%;
  }

  .map-container {
    margin: 0;
    height: 440px;
    width: 50%;
  }
}